html{
position: relative;
}

body{
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin-bottom: 80px;
}

/* navbar */
.navbar{
    background-color: transparent;
}

.navbar .navbar-brand{
    display: inline-block;
    font-family: 'kdam Thmor Pro', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.navbar .nav-link{
    display: inline-block;
    font-size: 20px;
    margin-left: 30px;
}
.navbar a:hover{
    text-shadow: 0 0 3px black;
}
.navbar .kanan{
    transform: translateX(600px);
}

/* akhir navbar */


/* jumbotron */
.jumbotron{
    width: 100%;
    min-height: 600px;
    background-color: #Fdf1cf;
    padding-top: 10%;
}

.jumbotron img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    box-shadow: 0 0 35px 5px lightskyblue;
    border: 2px solid wheat;
}

/* akhir jumbotron */

/* about */
.about{
    min-height: 600px;
}
/* akhir about */

/* gallery */
.gallery{
    min-height: 400px;
    background-color: #Fdf1cf;
}

.gallery img{
    width: 200px;
    box-shadow: 3px 3px 5px black;
}
/* akhir gallery */

/* contact */
.contact{
    min-height: 600px;
    margin-bottom: 60px;
}
/* akhir contact */

/* footer */
footer{
    position: absolute;
    width: 100%;
    bottom: 70px;
    height: 40px;
    background-color: #fdf1cf00;
}
/* akhir footer*/

/* navbar bawah */
.nav-bawah{
    background-color: aqua;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.nav-bawah li{
    display: inline-block;
    margin-right: 30px;
}

.nav-bawah .cont{
    margin-left: 30px;
}

.nav-bawah li .icon{
    position: relative;
    z-index: 1;
    background-color: #29fd5300;
    border-radius: 50%;
    display: block;
    width: 50px;
    height: 50px;
    font-size: 30px;
    margin-bottom: -10px;
    transition: .5s;
}

.nav-bawah li.active .icon{
    transform: translate(0px, -22px);
    background-color: #29fd53;
    border: 5px solid white;
}

.nav-bawah li .text{
    position: absolute;
    transform: translate(-20px,-25px);
    transition: .5s;
    opacity: 0;
    font-weight: bold;
    z-index: 1;
}

.nav-bawah li.active .text{
    transform: translate(-20px,-10px);
    opacity: 1;
}

/* tidak bisa mengikuti luas layar */
/* .bulat{
    transform: translate(55.5px, -68px);
    position: absolute;
    width: 55px;
    height: 55px;
    background-color: #29fd53;
    border-radius: 50%;
    border: 5px solid white;
    transition: .5s;
}

.bulat::before{
    content: '';
    position: absolute;
    top: 60%;
    left: -998px;
    background-color: transparent;
    width: 1000px;
    height: 20px;
    border-radius: 0px 30px 0 0;
    box-shadow: 0 -10px 0 0 white;
}

.bulat::after{
    content: '';
    position: absolute;
    top: 60%;
    left: 43.5px;
    background-color: transparent;
    width: 1000px;
    height: 20px;
    border-radius: 30px 0px 0 0;
    box-shadow: 0 -10px 0 0 white;
}

.nav-bawah li:nth-child(1).active ~ .bulat{
    transform: translate(55.5px, -68px);
} 

.nav-bawah li:nth-child(2).active ~ .bulat{
    transform: translate(149.5px, -68px);
} 

.nav-bawah li:nth-child(3).active ~ .bulat{
    transform: translate(245.5px, -68px);
}

.nav-bawah li:nth-child(4).active ~ .bulat{
    transform: translate(339.5px, -68px);
} */

/* akhir navbar bawah */

h2{

    margin-top: 40px;
    text-shadow: 0px 0px 3px black;
}


.konten hr{
    margin: auto;
    margin-bottom: 20px;
    width: 250px;
    border-top: 3px solid rgb(0, 0, 0);
}

@media all and (max-width: 992px) {
    .jumbotron{
        padding-top: 25%;
    }
    .navbar-brand{
        margin: auto;
    }
    .navbar .kanan{
        transform: translateX(0px);
    }
    .navbar .collapse, .navbar-toggler{
        opacity: 0;
        transform: translateY(-200px);
    }
}